In [1]:
import pandas as pd

In [6]:
df_value = pd.read_csv("raw/train_values.csv")

In [7]:
df_label = pd.read_csv("raw/train_labels.csv")

In [62]:
df_test = pd.read_csv("https://www.dropbox.com/s/2heyrfbq3cxvsdb/test_values.csv?raw=1")

In [63]:
df_test

,row_id,loan_type,property_type,loan_purpose,occupancy,loan_amount,preapproval,msa_md,state_code,county_code,...,applicant_sex,applicant_income,population,minority_population_pct,ffiecmedian_family_income,tract_to_msa_md_income_pct,number_of_owner-occupied_units,number_of_1_to_4_family_units,lender,co_applicant
0,0,2,1,3,1,115.0,3,101,16,276,...,1,NaN,6329.0,59.536,69889.0,85.780,1874.0,2410.0,3791,True
1,1,1,1,1,1,252.0,2,87,20,68,...,1,107.0,2473.0,8.050,65313.0,100.000,947.0,1214.0,2839,True
2,2,1,1,1,1,270.0,1,-1,-1,-1,...,2,119.0,NaN,NaN,NaN,NaN,NaN,NaN,4701,False
3,3,2,1,1,1,179.0,2,376,20,11,...,2,44.0,4795.0,29.676,57766.0,100.000,1426.0,1765.0,2153,True
4,4,2,1,1,1,36.0,2,254,48,156,...,3,32.0,5246.0,5.110,63332.0,100.000,1452.0,2092.0,5710,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,499995,1,1,3,1,453.0,3,335,26,134,...,1,46.0,4849.0,3.989,78218.0,100.000,1589.0,1750.0,6032,False
499996,499996,1,1,1,1,101.0,2,350,38,233,...,1,40.0,5243.0,5.274,87990.0,100.000,1532.0,1800.0,5325,False
499997,499997,2,1,3,1,99.0,3,93,38,322,...,1,32.0,2525.0,11.632,63170.0,48.000,604.0,974.0,6283,False
499998,499998,1,1,3,1,194.0,3,246,5,260,...,3,129.0,12819.0,28.367,61562.0,100.000,3740.0,4467.0,6240,False
499999,499999,1,1,1,2,132.0,2,277,31,257,...,1,79.0,3633.0,19.818,52890.0,95.303,1247.0,1642.0,4398,True

In [22]:
def create_camel_case(myString, seperator):
    lst = myString.split(seperator)
    if len(lst) < 2:
        return myString
    else:
        for i in range(len(lst)):
            if i != 0:
                lst[i] = lst[i][0].upper() + lst[i][1:]
        return ''.join(lst)

In [30]:
df_value.columns = pd.Series(df_value.columns).apply(create_camel_case, 
                              seperator = '_').apply(create_camel_case,
                              seperator = '-')

In [43]:
df_value.insert(0, 'accepted', df_label.accepted)

In [46]:
df_value = df_value.drop('rowId', axis = 1)

In [48]:
df_value = df_value.dropna()

In [52]:
df_value = df_value.replace(True, 1).replace(False, 0)

In [53]:
df_value.to_csv("mortgage_loan_data.csv", index = False)

In [73]:
feature_dict = { 
 'accepted': 'Indicates whether the mortgage application was accepted (successfully originated) with a value of 1 or denied with a value of 0',
 'loanType': 'Indicates if loan was; conventional, FHA-insured, VA-guaranteed, or FSA/RHS',
 'propertyType': 'Indicates if loan application was for; 1-4 family, manufactured, or multifamily',
 'loanPurpose': 'Indicates if loan application was for; home purchase, home improvement, or refinancing',
 'occupancy': 'Indicates if application property was; owner-occupied as principal dwelling, not owner-occupied, or not applicable',
 'loanAmount': 'Size of requested loan in thousands of US dollars',
 'preapproval': ' Indicates if; preapproval requested, preapproval not requested, or not applicable',
 'msaMd': 'Metropolitan Statistical Area/ Metropolitan Division (-1 as missing value)',
 'stateCode': 'Indicates the US state (-1 as missing value)',
 'countyCode': 'Indicates the county (-1 as missing value)',
 'applicantEthnicity': 'Ethnicity of applicant indicating; Hispanic or Latino, Not Hispanic or Latino, info not provided, or not applicable',
 'applicantRace': 'Race of applicant indicating; American Indian or Alaska Native, Asian, Black or African American, Native Hawaiian or Other Pacific Islander, White, info not provided, or not applicable',
 'applicantSex': 'Sex of applicant indicating; male, female, info not provided, or not applicable',
 'applicantIncome': 'Size of income in thousands of US dollars',
 'population': 'Total population in tract',
 'minorityPopulationPct': 'Percentage of minority population to total population for tract',
 'ffiecmedianFamilyIncome': 'FFIEC median family income in dollars for MSA/MD in which the tract is located (adjusted annually by FFIEC)',
 'tractToMsaMdIncomePct': 'Percentage of tract median family income compared to MSA/MD median family income',
 'numberOfOwnerOccupiedUnits': 'Number of dwellings, including individual condominiums, that are lived in by the owner',
 'numberOf1To4FamilyUnits': 'Dwellings that are built to house fewer than 5 families',
 'lender': 'The lender that approved or denied the loan',
 'coApplicant': 'Indicates whether there is a co-applicant or not'
}

In [81]:
col_df = pd.DataFrame(pd.Series(feature_dict)).reset_index()
col_df.columns = 'colName', 'description'

In [89]:
col_df['min'] = df_value.min().values
col_df['max'] = df_value.max().values

In [90]:
col_df.to-csv

,colName,description,min,max
0,accepted,Indicates whether the mortgage application was...,0.000,1.0
1,loanType,"Indicates if loan was; conventional, FHA-insur...",1.000,4.0
2,propertyType,Indicates if loan application was for; 1-4 fam...,1.000,2.0
3,loanPurpose,Indicates if loan application was for; home pu...,1.000,3.0
4,occupancy,Indicates if application property was; owner-o...,1.000,3.0
5,loanAmount,Size of requested loan in thousands of US dollars,1.000,15983.0
6,preapproval,"Indicates if; preapproval requested, preappro...",1.000,3.0
7,msaMd,Metropolitan Statistical Area/ Metropolitan Di...,-1.000,408.0
8,stateCode,Indicates the US state (-1 as missing value),0.000,52.0
9,countyCode,Indicates the county (-1 as missing value),1.000,324.0
10,applicantEthnicity,Ethnicity of applicant indicating; Hispanic or...,1.000,4.0
11,applicantRace,Race of applicant indicating; American Indian ...,1.000,7.0
12,applicantSex,"Sex of applicant indicating; male, female, inf...",1.000,4.0
13,applicantIncome,Size of income in thousands of US dollars,1.000,10139.0
14,population,Total population in tract,74.000,37097.0
15,minorityPopulationPct,Percentage of minority population to total pop...,0.534,100.0
16,ffiecmedianFamilyIncome,FFIEC median family income in dollars for MSA/...,17858.000,125248.0
17,tractToMsaMdIncomePct,Percentage of tract median family income compa...,6.234,100.0
18,numberOfOwnerOccupiedUnits,"Number of dwellings, including individual cond...",4.000,8771.0
19,numberOf1To4FamilyUnits,Dwellings that are built to house fewer than 5...,1.000,13623.0
20,lender,The lender that approved or denied the loan,0.000,6507.0
21,coApplicant,Indicates whether there is a co-applicant or not,0.000,1.0